*__pycache__*
Scrap/*
*/GameState/Chrysalis/1/*
*/GameState/Chrysalis/2/*
*/GameState/Chrysalis/3/*
*/GameState/Benediction/1/*
*/GameState/Benediction/2/*
*/GameState/Benediction/3/*
*/GameState/Avarice/1/*
*/GameState/Avarice/2/*
*/GameState/Avarice/3/*